* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button {
    cursor: pointer;
}
header {
    position: relative;
    width: 1200px;
    height: 60px;
    left: calc(50% - 1230px/2);
    
}

.header__wrapper {
    min-width: 1200px;
    height: 61px;
}

.start__screen {
    position: relative;;
    width: 1280px;
    height: 922px;
    margin: 0 0;
    background: url(/assets/start-screen-background.png);
    background-size: cover;
    left: 16.5%;
    right: 0%;
    top: 0px;
}

.logo__title {
    position: relative;
    width: 290px;
    height: 11px;
    left: .7em;
    top: 3.5em;
}

.title {
    display: inline;
    width: 184px;
    height: 35px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 45px;
    margin-left: .03em;
    color: #F1CDB3;
}

.subtitle {
    position: relative;
    width: 190px;
    height: 15px;
    left: .6em;
    top: .3em;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.navigation {
    display: inline;
    
}
.navigation__list {
    position: relative;
    display: flex;
    width: 460px;
    height: 27px;
    top: 4em;
    left: 48em;
}

.navigation__item {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.navigation__item:nth-child(1) {
    margin-left: .2em;    
    border-bottom: 2px solid whitesmoke;
}

.navigation__item:nth-child(2) {
    margin-left: 36px;
}

.navigation__item:nth-child(3) {
    margin-left: 35px;
}

.navigation__item:nth-child(4) {
    margin-left: 2.5em;
}

.start__screen__puppy {
    position: relative;
    width: 698px;
    height: 728px;
    top: 7.5em;
    left: 34em;
    bottom: 0px;
    background: url(../assets/start-screen-puppy.png);
}

.start__screen__content {
    position: relative;
    width: 23em;
    height: 322px;
    top: -28em;
    left: 2.2em;
}

.start__screen__heading {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 145%;
    color: #FFFFFF;
}

.start__screen__subheading {
    position: relative;
    top: 2.5em;
    width: 460px;
    height: 85px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 1.7em;
    word-spacing: .1em;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.start__screen__button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 202px;
    height: 54px;
    top: 20.5em;
    left: .2em;
    bottom: 0px;
    background: #F1CDB3;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.start__screen__button__text {
    position: relative;
    top: .8em;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #292929;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 10px;
}
}
.about {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 588px;
}

.about__text {
    position: relative;
    width: 430px;
    height: 361px;
    left: 955px;
    bottom: 270px;
    line-height: 10px;
}

.about__text__heading {
    position: relative;
    width: 300px;
    height: 90px;
    bottom: 25px;
    left: 1px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: .05em;
    color: #545454;
}

.about__text__subheading {
    position: relative;
    width: 430px;
    height: 72px;
    top: 8px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
}

.about__text__subheading__2 {
    position: relative;
    width: 430px;
    height: 144px;
    top: 27px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #4C4C4C;
}

.img__about__pets {
    position: relative;
    width: 300px;
    height: 408px;
    left: 535px;
    top: 95px;
}

.pets__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 862px;
    background: #F6F6F6;
}
.pets__heaeding {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pets__slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item {
    background: #FAFAFA;
    width: 270px;
    height: 435px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.slider__item img {
    position: relative;
    top: -2.5em;
    display: flex;
    align-items: center;
    text-align: center;
}
